hr {
    border-top: 3px solid #ccc;
}

h2 {
    margin-bottom: 20px;
  }


/* Add Thumbnails to blog lists! */
.blog-img {
    float: left;
    width: 20%;
    padding-right: 10px;
    padding-bottom: 10px;
    /* background: red; */
}

.blog-preview-text-thumb {
    float: left; 
    width: 75%;
}

.blog-preview-text {
    float: left;
    width: 100%
}

.post-preview-row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (max-width: 600px) {
    .blog-img, .blog-preview-text-thumb {
        width: 100%;
    }
}

/* reduce figure caption size */
figcaption p {
    padding-top: 3px;
    font-size: 0.8em;
    /* text-align: center; */
}


/*  Remove Hugo/Theme branding from footer (sorry!) */
.theme-by {
    display: none;
}

/* Force light mode always? */
@media (prefers-color-scheme: light) {
  body {
    background: black;
    color: white;
  }
}
@media (prefers-color-scheme: light) {
  p a {
    color: #50afff;
  }
}
@media (prefers-color-scheme: light) {
  a {
    color: #50afff;
  }
}
@media (prefers-color-scheme: light) {
  a {
    color: #50afff;
  }
}
@media (prefers-color-scheme: light) {
figure:not(.dark) img, img.white {
  background-color: white;
}
}
@media (prefers-color-scheme: light) {
  .navbar-custom {
    background: #505050;
    border-bottom: 1px solid #AAA;
  }
}
@media (prefers-color-scheme: light) {
  .navbar-custom .navbar-brand,
  .navbar-custom .nav li a {
    color: #b0b0b0;
  }
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus ,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  @media (prefers-color-scheme: light) {
    color: #b0e0ff;
  }
}
@media (prefers-color-scheme: light) {
  .navbar-custom .nav .navlinks-container:hover {
    background: #666;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    border: 1px solid #AAA;
  }
  .navbar-custom .nav .navlinks-container .navlinks-children a {
    background: #444;
  }
}
@media (prefers-color-scheme: light) {
  footer {
    background: #444;
    border-top: 1px #AAA solid;
  }
  footer a {
    color: #AAA;
  }
}
@media (prefers-color-scheme: light) {
  .post-preview a {
    color: #AAA;
  }
}
@media (prefers-color-scheme: light) {
.pager li a {
  background: #444;
  color: white;
}
}
@media (prefers-color-scheme: light) {
}
table tr:nth-child(2n) {
  background-color: #EEE8D5;
}
@media (prefers-color-scheme: light) {
table tr {
  background-color: #181818;
}
table tr:nth-child(2n) {
  background-color: #303030
}
}
/* Dark mode */
@media (prefers-color-scheme: light) {
  code {
    background-color: #222;
    color: #fbb;
  }
  pre code {
    color: #ccc;
  }
  .well {
    background-color: #444;
  }
  .panel {
    background-color: #222;
  }
  .list-group-item {
    background-color: #333;
  }

  pre.chroma {
    color: white;
    background-color: #444;
  }
  pre.chroma .k {
    color: #44AACC;
  }
  pre.chroma .kt {
    color: #33CCCC;
  }
  pre.chroma .o {
    color: #AAA;
  }
  pre.chroma .nb {
    color: #00fee9;
  }
  pre.chroma .ow {
    color: #CC0;
  }
}