<!--
If you want to include any custom html just before </head>, put it in /layouts/head_custom.html
Do not put anything in this file - it's only here so that hugo won't throw an error if /layouts/head_custom.html doesn't exist.
-->

<link rel="stylesheet" href='{{ "css/custom.css" | absURL }}' />
<!-- <script src='{{ "js/custom.js" | absURL }}'></script> -->