{{ if or .Params.toc (and .Site.Params.toc (ne .Params.toc false)) }}
  {{ $emtLiPtrn := "(?s)<ul>\\s*<li>\\s*<ul>(.*)</li>\\s*</ul>" }}
  {{ $rplcEmtLi := "<ul>$1" }}
  {{ .TableOfContents | replaceRE $emtLiPtrn $rplcEmtLi | safeHTML }}
{{- end }}
